<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color= "primary">
  <a mat-button><h5>Главная</h5></a>
  <a mat-button><h5>Рейсы</h5></a>
  <a mat-button><h5>Торги</h5></a>
  <a mat-button><h5>Водители</h5></a>
  <a mat-button><h5>Транспорт</h5></a>
</mat-toolbar>
<div class="wrapper">
  <mat-card class="filter-block">
    <h3>filter block</h3>
  </mat-card>
  <mat-card class="routes-list">
    <h3>routes list</h3>
  </mat-card>

</div>




<router-outlet></router-outlet>
